.plain-horizontal-list(){
    margin: 0px;padding: 0px; text-decoration: none; display: inline-block;
    >li{
        display: inline-block;
    }
}

.background-cover{
    background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
}

.text-shadow(@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.border-radius-top-right(@topright: 0){
  -webkit-border-top-right-radius: @topright;
  -moz-border-radius-topright: @topright;
  border-top-right-radius: @topright;
  .background-clip(padding-box);
}

.border-radius-bottom-right(@bottomright: 0){
  -webkit-border-bottom-right-radius: @bottomright;
  -moz-border-radius-bottomright: @bottomright;
  border-bottom-right-radius: @bottomright;
  .background-clip(padding-box);
}

.border-radius-bottom-left(@bottomleft: 0){
  -webkit-border-bottom-left-radius: @bottomleft;
  -moz-border-radius-bottomleft: @bottomleft;
  border-bottom-left-radius: @bottomleft;
  .background-clip(padding-box);
}

.border-radius-top-right(@topleft: 0){
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topleft: @topleft;
  border-top-left-radius: @topleft;
  .background-clip(padding-box);
}

.hierarchical-table{
  display: table; width: 100%; height: 100%;
  &>div{
    display: table-row; height: 0;
    &>div{
      display: table-cell; vertical-align: top;
    }
    &:last-child{
      height: auto;
    }
  }
}

.modern-centered(@top: 50%, @left: 50%, @offsetTop: -50%, @offsetLeft: -50%){
  margin: auto; position: absolute; top: @top; left: @left; -webkit-transform: translate(@offsetLeft, @offsetTop); -ms-transform: translate(@offsetLeft, @offsetTop); transform: translate(@offsetLeft, @offsetTop);
}

.centralized-window(@width, @height, @top: 50%, @left: 50%, @offsetTop: -0.5, @offsetLeft: -0.5){
    position: absolute; top: @top; left: @left; margin-top: @height * @offsetTop; margin-left: @width * @offsetLeft; width: @width; height: @height;
}

.after-clear-fix{
  &:after{
    content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;
  }
}

.rotate{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.composit{
  -webkit-transform: translate3d(0,0,0);
}

.placeholder(@color){
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: @color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: @color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: @color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: @color;
    }
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}